@mixin pad {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 375px) {
    @content;
  }
}

.about-page {
  background-color: #eee0cf;

  &__intro {
    position: relative;
    z-index: 20;
    margin-left: 8rem;
    width: 80%;

    @include pad {
      margin: auto;
    }

    @include mobile {
      margin: auto;
    }
  }
}

.about-page__header {
  @include pad {
    .about-page__logo {
      margin-left: 2px;
    }
  }

  .about-page__text {
    @include pad {
      font-size: 1.8rem;
      width: 100%;
    }
  }

  .about-page__logo {
    @include mobile {
      display: none;
    }
  }
}

.decoration {
  position: relative;
}

.circle {
  position: fixed;
  border-radius: 50%;

  &.circle-a {
    /*   left-top */
    width: 40rem;
    height: 40rem;
    left: -13rem;
    top: -22rem;
    background-color: #ff9b2f;
  }

  &.circle-b {
    /*   right-bottom */
    width: 50rem;
    height: 50rem;
    right: -22rem;
    bottom: -28rem;
    background-color: #ff9b2f;
  }
}
