input#destination {
  position: absolute;
  z-index: 9999;
  top: 1rem;
  left: 4rem;
  width: 18rem;
  height: 0.6rem;
  padding: 1.5rem;
  border-radius: 0.4rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

  &:focus {
    outline: none;
  }
}

.submit-btn {
  position: absolute;
  z-index: 9999;
  width: 1.2rem;
  left: 20rem;
  top: 1.9rem;
}
